@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap');


/**********NAV BAR SECTION*************/
.navbar{
    width: 100%;
    height: 10vh;
    
}
.navbar h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    left: 35px;
}

.navbar input{
    position: absolute;
    left:180px;
    top: 40px;
    height: 4.5%;
    border-width: 1.5px;
    border-radius: 10px;
    width: 38%;
}

.navbar input::placeholder{

    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align:right;
    text-indent: 10px;
    padding: 20px;
}

#search{

    position: absolute;
    left: 200px;
    top: 50px;
}

#cart{
    position: absolute;
    right: 200px;
    top: 30px;
    width: 50px;
    
}

/***************HERO SECTION********************/

.hero-section{
    overflow: hidden;
    height: 105vh;
}
.hero-section h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    width: 600px;
    top: 250px;
    left: 130px;
   
}
.hero-section p{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 450px;
    font-size: 17px;
    left: 130px;
    width: 500px;
}
.hero-section .dots{
    position: absolute;
    width: 160px;
    top: 240px;
    left: 30px;
}
.hero-section .headphones{
position: relative;
margin-left:730px;
width: 1100px;

}

#AddToCartbtn{
    position: absolute;
    bottom: 150px;
    left: 130px;
    border: 0;
    width: 150px;
    height: 5%;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #1A8FE3;
    font-weight: 600;
}
#LearnMorebtn{
     position: absolute;
    bottom: 150px;
    left: 330px;
    border-color: #1A8FE3;
    border-style: solid;
    width: 150px;
    height: 5%;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    font-weight: 600;
}





/*******************PRODUCTS SECTION*********************/

.products-section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.products-section h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
}

.panels{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100%;
    top: -200px;
    
}

.panels .panel{

    margin: 116px;
    background-image: linear-gradient(to right top, #ffffff, #fdfdfe, #fcfcfd, #fafafb, #f8f9fa);   width: 100%;
    border-radius: 35px;
    height:55vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
position: relative;
z-index: 1;
}

.panels .panel::before{
position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 background-image: linear-gradient(to right top, #e9ecef, #edeff2, #f0f2f4, #f4f6f7, #f8f9fa); z-index: -1;
  transition: opacity 0.15s ease-in-out;
  opacity: 0;   
  border-radius: 35px;
}

.panels .panel:hover::before
{
    opacity: 1;
}




.panels .panel h2{ 
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
}
.panels .panel p{

    font-family: 'Poppins', sans-serif;
    color: #1A8FE3;
    font-size: 18px;
font-weight: 500;
    top: -20px;
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;

}

.panels .panel img{
    width: 50%;
    height: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
top: 10px;
}

.panel{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
 
}

.panels .panel button {
 border: 0;
 width: 80%;
 height: 10%;
 border-radius: 10px;
 font-size: 15px;
 font-family: 'Poppins', sans-serif;
 color: white;
 background-color: #1A8FE3;
 font-weight: 600;
position: relative;
margin-right: auto;
margin-left: auto;
top: -15px;
cursor: pointer;
/* top: 170px; */
}



/*******************MEDIA QUERIES******************/
/***LANDSCAPE***/
@media (orientation: landscape){
 

    .panels{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }

@media (orientation: landscape) and (min-width:720px)  {

.navbar h2{
    font-size: 30px;
}
#search{
    width: 20px;
    top: 2.8em;
    left: 12em;
}
#cart{
    right: 4em;
}
    .navbar input{
    height: 5vh;
}

.hero-section{
        height: 90vh;
    }
    .hero-section h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    width: 400px;
    top: 145px;
    left: 100px;
   
}
.hero-section p{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 260px;
    font-size: 12px;
    left: 100px;
    width: 350px;
}
.hero-section .dots{
    position: absolute;
    width: 100px;
    top: 130px;
    left: 25px;
}
   .hero-section .headphones{
        width: 450px;
        top: 30px;
        right: 380px;
}

#AddToCartbtn{
top: 30em;
width: 18vw;
height: 7vh;
left: 90px;
}

#LearnMorebtn{
top: 30em;
width: 18vw;
height: 7vh;
left: 290px;
}

.panels{
    width: 98%;
}
.panels .panel{
     height:80vh;
    margin: 13px;
     

}

.panels .panel button {

height: 6vh ;

}


.products-section h1{
  
font-size: 25px;
 
}

.products-section h3{
    font-size: 12px;

}




}

@media (orientation: landscape) and (min-width:961px)  {
    .navbar input{
        border-radius: 30px;
    }
    #search{
        width: 20px;
        top:3em;
    }
    #cart{
        width: 40px;
    }
  .hero-section{
        height: 90vh;
    }
    .hero-section h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    width: 600px;
    top: 180px;
    left: 110px;
   
}
.hero-section p{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 350px;
    font-size: 15px;
    left: 110px;
    width: 500px;
}
.hero-section .dots{
    position: absolute;
    width: 120px;
    top: 170px;
    left: 30px;
}
   .hero-section .headphones{
        width: 600px;
        right: 250px;
}

#AddToCartbtn{
top: 38em;
height: 6vh;
left: 100px;
}

#LearnMorebtn{
  top: 38em; 
  height: 6vh; 
}

.panels{
    width: 100%;
}
.panels .panel{
     height:65vh;
    margin: 30px;
     

}

.panels .panel button {

height: 5vh ;

}


.products-section h1{
  
    font-size: 38px;
 
}

.products-section h3{
font-size: 20px;

}



    /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (orientation: landscape) and (min-width:1025px) {
    
    .navbar input{
        border-radius: 30px;
    }
    
    .hero-section{
        height: 80vh;
    }
    .hero-section h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
    width: 600px;
    top: 210px;
    left: 120px;
   
}
.hero-section p{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 400px;
    font-size: 15px;
    left: 120px;
    width: 500px;
}
.hero-section .dots{
    position: absolute;
    width: 140px;
    top: 200px;
    left: 30px;
}


    .hero-section .headphones{
        width: 750px;
        right: 300px;
}

#AddToCartbtn{
top: 50em;
}

#LearnMorebtn{
  top: 50em;  
}

.panels{
    width: 100%;
}
.panels .panel{
     height:45vh;
    margin: 30px;
     

}

.panels .panel button {

height: 5vh ;

}
    /* big landscape tablets, laptops, and desktops */ 


}

@media (orientation: landscape) and (min-width:1281px) {
     /* hi-res laptops and desktops */ 
     .hero-section{
        height:80vh;
    }
       .hero-section .headphones{

        width: 900px;
        right: 180px;
}
#AddToCartbtn{
top: 50em;
}

#LearnMorebtn{
  top: 50em;  
}

/********PRODUCTS*******/


.panels{
    width: 100%;
}
.panels .panel{
     height:50vh;
    margin: 40px;
     

}

.panels .panel button {

height: 5vh ;

}

    }



@media (orientation: landscape) and (min-width:1366px) {

    .navbar input{
        border-radius: 30px;
    }

    .hero-section{
        height:80vh;
    }
    .hero-section .headphones{
width: 900px;
right: 120px;
}

#AddToCartbtn{
top: 50em;
}
#LearnMorebtn{
  top: 50em;  
}


/********PRODUCTS*******/


.panels{
    width: 100%;
}
.panels .panel{
    height:45vh;
    margin: 80px;
       margin-top: 130px;

}

.panels .panel button {

height: 5vh ;

}



}











@media (orientation: landscape) and (min-width:1707px) {
    
/**********NAV BAR SECTION*************/
.navbar{
    width: 100%;
    height: 10vh;
    
}
.navbar h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    left: 35px;
}

.navbar input{
    position: absolute;
    left:180px;
    top: 40px;
    height: 4.5%;
    border-width: 1.5px;
    border-radius: 10px;
    width: 38%;
}

.navbar input::placeholder{

    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align:right;
    text-indent: 10px;
    padding: 20px;
}

#search{

    position: absolute;
    left: 200px;
    top: 50px;
}

#cart{
    position: absolute;
    right: 200px;
    top: 30px;
    width: 50px;
    
}

/***************HERO SECTION********************/

.hero-section{
    overflow: hidden;
    height: 105vh;
}
.hero-section h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    width: 600px;
    top: 250px;
    left: 130px;
   
}
.hero-section p{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 450px;
    font-size: 17px;
    left: 130px;
    width: 500px;
}
.hero-section .dots{
    position: absolute;
    width: 160px;
    top: 240px;
    left: 30px;
}
.hero-section .headphones{
position: relative;
margin-left:830px;
width: 1100px;

}

#AddToCartbtn{
    position: absolute;
    bottom: 150px;
    left: 130px;
    border: 0;
    width: 150px;
    height: 5%;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #1A8FE3;
    font-weight: 600;
}
#LearnMorebtn{
     position: absolute;
    bottom: 150px;
    left: 330px;
    border-color: #1A8FE3;
    border-style: solid;
    width: 150px;
    height: 5%;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    font-weight: 600;
}





/*******************PRODUCTS SECTION*********************/

.products-section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.products-section h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
}
.panels{
    width: 90%;
}
.panels .panel{
     height:65vh;
    margin: 60px;
     

}

.panels .panel button {

height: 5vh ;

}



}









/*******PORTRAIT******/

@media (orientation: portrait) and (min-width:320px)  {
    
    /* smartphones, iPhone, portrait 480x320 phones */ 

.navbar h2{
font-size: 2em;
left: 15px;
    
}
.navbar input{
   width: 15em;
   left: 8em;
   height: 5vh;
   border-radius: 20px;
}

.navbar input::placeholder{
    text-align:right;
 
}
#search{

  left: 7.4em;
  top: 2.8em;
  width: 1.3em;
}

#cart{
 width: 2em;
 right: -7em;
 top: 2.4em;
    
}

/*******HERO******/
.hero-section{

height: 180vh;
}
.hero-section .headphones{
position: absolute;
left: -745px;
bottom: -30px;
width: 500px;

}

.hero-section .dots{
    display: none;
}
.hero-section h1{
font-size: 30px;
text-align: center;
width: 100%;
top: 485px;
left: 75px;


}

.hero-section p{
    font-size: 11px;
    text-align: center;
    left: 105px;
    top: 650px;
   width: 80%;
}


#AddToCartbtn{
  height: 8vh;
  left: 50px;
    top:800px;
}
#LearnMorebtn{
      height: 8vh;
  left: 250px;
    top:800px;
}


/********PRODUCTS*******/

.products-section h1{
  position: absolute;
    font-size: 30px;
    text-align: center;
     left: 100px;
     width: 80%;
}

.products-section h3{
font-size: 16px;
position: relative;
  text-align: center;
top: 140px;
left: 70px;
}

.panels{
    width: 100%;
}
.panels .panel{
    height: 20%;
    margin: 80px;
       margin-top: 130px;

}

.panels .panel button {

height: 10vh ;

}

}
@media  (orientation: portrait) and (min-width:375px)  {
 .navbar h2{
font-size: 25px;

}
.navbar input{
    width: 50%;
    height: 3.5vh;
    top: 2em;
    left: 7.5em;
}
#search{
    top: 2.1em;

}
#cart{
    left: 20em;
    top: 1.8em;
}

/*******HERO******/
.hero-section{

height: 100vh;

}
.hero-section .headphones{
position: absolute;
left: -755px;
top: 100px;
width: 450px;

}


.hero-section h1{
font-size: 25px;
text-align: center;
width: 100%;
top: 485px;
left: 10px;


}

.hero-section p{
    font-size: 13px;
    text-align: center;
    left: 45px;
    top: 600px;
   width: 80%;
}


#AddToCartbtn{
  height: 5vh;
  left: 30px;
    top:800px;
}
#LearnMorebtn{
      height: 5vh;
  left: 210px;
    top:800px;
}


/********PRODUCTS*******/

.products-section h1{
    left: 45px;
}

.products-section h3{

left: 15px;
}

.panels{
    width: 80%;
}
.panels .panel{
    height: 0%;
    margin: 20px;
       margin-top: 130px;

}

.panels .panel button {

height: 6vh ;

}


}
@media (orientation: portrait) and (min-width:481px)  {
    
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
#cart{
 width: 2.5em;
 right: -1.5em;

    
}
#search{
    width: 1.5em;
    top: 3em;
}


.navbar input{
    width: 60%;
}


/*******HERO******/
.hero-section{
height: 150vh;

}
.hero-section .headphones{
position: relative;
bottom: 0px;
left: -48em;
width: 650px;

}
.hero-section h1{
left: 1.5em;
    top: 20em;
}


.hero-section p{

    font-size: 15px;
    text-align: center;
top: 49em;
left: 6.5em;
}
#AddToCartbtn{
top: 70em;
left: 7em;
}
#LearnMorebtn{
   top: 70em;
   left: 24em;
}

/********PRODUCTS*******/
.products-section h1{
left: 3em;
}
.products-section h3{
top: 6em;
left: 2.3em;
}
.panels{
    width: 65%;
}
.panels .panel{
    height: 35%;
    margin: 40px;
       margin-top: 130px;

}
.panels .panel button{ 
height: 8vh;
}
}



@media (orientation: portrait) and (min-width:1024px) {
    
    
 .navbar h2{
    font-size: 50px;
    left: 30px;
}
.navbar input{
    width: 40%;
    left: 15em;
    top: 4em;
    border-radius: 40px;
}
#search{
  width: 35px;
  left: 14em;
  top: 4em;  
}
#cart{
    width: 50px;
    left: 50em;
    top: 3em;
}
/*******HERO******/
.hero-section{
height: 110vh;

}
.hero-section .headphones{
position: relative;
top: -10px;
left: -42em;
width: 850px;

}
.hero-section h1{
text-align: center;
width: 60%;
    top: 17em;
    font-size: 50px;
    left: 4em;
}


.hero-section p{

    font-size: 25px;
    text-align: center;
top: 44em;
left: 3.5em;
}
#AddToCartbtn{
    width: 25%;
height:5%;
    top: 100em;
left: 8em;
}
#LearnMorebtn{
      width: 25%;
height:5%;
   top: 100em;
   left: 45em;
}

/********PRODUCTS*******/
.products-section h1{
    font-size: 50px;
left: 1.9em;
}
.products-section h3{
        font-size: 25px;
top: 6em;
left: 0em;
}
.panels{
    width: 50%;
   
}
.panels .panel{
    height: 45%;
    margin: -10px;
       margin-top: 130px;

}
.panels .panel button{ 
height: 5vh;
}

    /* big landscape tablets, laptops, and desktops */ 




}


/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Poppins', sans-serif;
*/